#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
	padding: 50px 15px;
	background: #eeeeeb;
	border-radius: 20px;
}

.skeleton {
	height: 100px;
}
img {
	box-shadow: 0px 0px 3px 3px;
	border-radius: 50%;
}
li {
	padding: 20px;
	background: #9faa65;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	box-shadow: -3px 2px 6px 1px #000;
}
